body{
    margin:0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    
}

.entete {
    margin:0;
    padding: 0;
    text-align: center; 
	text-transform: uppercase;
    font-weight: 700;
    height: 200px;
    background-color:black;
    color: black;
}
.entete h1 {
    margin: 0%;
    padding: 70px;
    color: white;
    font-size:50px;
    
}

.main{
 
    color: black;
}
.menu{
    top: 10%;
    text-align: center; 
	background-color: rgb(37, 36, 36);
	border-top: solid white 2px;
    line-height: 45px;
    height:6%; 
}
.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.main .menu .menu_i{
    display: inline-block;
    position: relative;
    transition: 0.7s all;
}
.main .menu .menu_i a{
    padding:12px 24px;
    text-decoration:none;
    color:white;
    display: inline-block;
	color: white;
	padding: 10px;
	text-decoration: none;
	border-left: solid white 2px;
    
}
    

.menu_i:hover{
     background-color:#A94339;
  
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.title h1{
    color: white;
    font-size:50px;
    font-family:monospace;
}
#acc{
    margin-top: 10%;
     text-align: center;
     font-size:40px;
}

#section1{
    
    font-family: monospace;
    padding-left:110px;
    padding-right: 110px;
}
#section1 h2{
   background-color: black;
   color: white;
   margin-top: 0%;
}
#section1 .contenu{
    border: solid;
}

#section2{
    
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: monospace;
    padding-left:110px;
    padding-right: 110px;
}
#section2 h2{
   background-color: black;
   color: white;
   margin-top: 0%;
}
#section2 .contenu2{
    border: solid;
}
#section2 p:hover{
    background-color:#A94339;
}
h3{
    border: solid;
    background-color: black;
    color: white;
}

